# Environment files
*.env
!*.env.example

# Local data
data/
volumes/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Backup files
*.bak
*.backup

# Airflow folders
**/airflow/dags
**/airflow/logs
**/airflow/config
**/airflow/plugins